.job-card {
  width: 320px;
  background: #ffffff;
  padding: 22px;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  position: relative;
}

.job-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(37, 99, 235, 0.15);
}

.badge {
  position: absolute;
  top: 18px;
  right: 18px;
  background: #2563eb;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}

.job-card h3 {
  margin-top: 30px;
  margin-bottom: 18px;
  color: #111827;
  font-size: 20px;
  font-weight: 700;
}

.job-card p {
  margin: 12px 0;
  color: #4b5563;
  font-size: 16px;
}

.btn-group {
  display: flex;
  gap: 12px;
  margin-top: 25px;
}

.details-btn,
.apply-btn {
  flex: 1;
  padding: 12px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.details-btn {
  background: white;
  color: #2563eb;
  border: 2px solid #2563eb;
}

.details-btn:hover {
  background: #2563eb;
  color: white;
}

.apply-btn {
  background: #2563eb;
  color: white;
  border: none;
}

.apply-btn:hover {
  background: #1d4ed8;
}

.job-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: linear-gradient(90deg, #2563eb, #60a5fa);
  border-radius: 16px 16px 0 0;
}

.job-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 12px 0;
  color: #555;
  font-size: 15px;
}

.icon {
  color: #2563eb;
  font-size: 16px;
}