

nav {
  background-color: #2563eb;
  color: white;
  padding: 15px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  font-size: 28px;
}

nav div {
  display: flex;
  gap: 25px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

nav a:hover {
  color: #ffd700;
}